*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
  }


html, body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  