*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
  }


html, body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }


.logo img{
  float: left;
  width: 150px;
  height: auto;
}

.main{
  max-width: 1200px;
  margin: auto;
}
  
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(assets/images/img.jul-2.JPG);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
}


ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

ul li.active a{
 background-color: #fff;
  color: #000;
}


.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 70px;
}


.grids{
  display: flex;
  background-color: rgb(155, 168, 180);
  justify-content: space-around;
  margin: 30px;
  float: left;
}


.grid1{
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: rgb(232, 220, 220);
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
  }

.grid1:hover{
  transform: translateY(20px);
}


.grid1:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background:linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}


.grid1:hover:before{
  opacity: 1;
}

.grid1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  background-color: #E7E7E7;
  padding: 1em;
  text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
  z-index: 3;
}

footer > span {
  color: black;
}

footer > a {
  color: black;
  text-decoration: none;
  padding: 0 15px;
  font-size: 0.8rem;
}

footer > p {
  color: black;
}
