header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/fff.contact.JPG);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* unordered list and anchor */


ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}


ul li.active a{
    background-color: #fff;
     color: #000;
 }
 /* h1 styling */



.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1 {
    color: #fff;
    font-size: 70px;
}

/* logo and anchor styling */

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color:#fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
  background-color: #fff;
  color: #000;
}

/* styling for article h3 and p */


article{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/IMG_broskie-1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 10px 0px;
    padding: 10px;
    color: #fff;
}

.sub_title{
    margin: 0px 30px;
    font-size: 50px;
}

.text{
   margin: 10px 30px;
   padding-bottom: 25px;
}


.carrer{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/falkenbergs-image.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 10px 0px;
    padding: 10px;
    color: #fff;
  }


.contact{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/FFF-logotype.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 10px 0px;
    padding: 10px;
    padding-left: 20px;
    color: #fff;
  }

#featured_items{
    margin-top: 30px;
}


#contact{
    margin-top: 75px;
}

.socials{
    margin: 10px 30px;
    float: left;
}

.socials ul li a{
    float: left;
    margin: 20px;
    padding: 10px;
}


footer {
	background-color: #E7E7E7;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: black;
}

footer > a {
	color: black;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}


  



